@media (min-width: 2700px) {

	body {
		margin: 0px;
		padding: 0px;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
		grid-template-rows: 165px 2.2fr 2.2fr 300px 300px;
	}

	nav {
		position: fixed;
		width: 100%;
		top: 0;
		background-color: #00356b;
		grid-column: 1 / 6;
		grid-row: 1;
		color: white;
		display: grid;
		min-height: 100px;
		grid-auto-flow: column;
		grid-gap: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	li {
		list-style: none;
		margin: 10px;
	}

	li a {
		text-decoration: none;
		color: #FFF;
	}

	.title {
		display: grid;
		text-align: center;
		justify-content: start;
		align-content: center;
		font-family: "Helvetica", sans-serif;
		font-size: 40px;
	}

	.links {
		display: grid;
		justify-content: end;
		align-content: center;
		grid-auto-flow: column;
		grid-gap: 100px;
		font-family: "Helvetica", sans-serif;
		font-size: 45px;
	}

	.links input[type=text] {
		padding: 5px;
		border: none;
		font-size: 30px;
		width: 300px;
		height: 35px;
		margin-right: 25px;
		font-family: "Helvetica", sans-serif;
	}

	.image {
		grid-row: 2 / 4;
		grid-column: 2 / 5;
	}

	.mainimage {
		width: 100%;
		height: 100%;
		max-height: 750px;
	}

	.events {
		grid-row: 4;
		grid-column: 2 / 5;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		font-size: 30px;
	}

	.eventstitle {
		padding: 0px;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
		color: #00356b;
		font-family: "Helvetica", sans-serif;
	}

	.calendar {
		padding: 0px;
		margin-left: 170px;
		margin-top: 5px;
		grid-row: 1;
		grid-column: 1;
		font-family: "Helvetica", sans-serif;
	}

	.calendar a {
		color: #4a4a4a;
	}

	.event1 {
		padding: 0px;
		margin-top: 60px;
		grid-row: 1;
		grid-column: 1;
	}

	.eventtext1 {
		padding: 0px;
		margin-top: 100px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 1;
		height: 100px;
		width: 600px;
		font-family: "Gill Sans", sans-serif;
		font-size: 28px;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.event2 {
		padding: 0px;
		margin-top: 60px;
		grid-row: 1;
		grid-column: 2;
	}

	.eventtext2 {
		padding: 0px;
		margin-top: 100px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 2;
		height: 100px;
		width: 600px;
		font-family: "Gill Sans", sans-serif;
		font-size: 28px;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.event3 {
		padding: 0px;
		margin-top: 60px;
		grid-row: 1;
		grid-column: 3;
	}

	.eventtext3 {
		padding: 0px;
		margin-top: 80px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 3;
		height: 100px;
		width: 600px;
		font-family: "Gill Sans", sans-serif;
		font-size: 28px;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news {
		grid-row: 5;
		grid-column: 2 / 5;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		font-size: 30px;
	}

	.newstitle {
		padding: 0px;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
		color: #00356b;
		font-family: "Helvetica", sans-serif;
	}

	.morenews {
		padding: 0px;
		margin-left: 170px;
		margin-top: 5px;
		grid-row: 1;
		grid-column: 1;
		font-family: "Helvetica", sans-serif;
	}

	.morenews a {
		color: #4a4a4a;
	}

	.news1 {
		padding: 0px;
		margin-top: 60px;
		grid-row: 1;
		grid-column: 1;
	}

	.newstext1 {
		padding: 0px;
		margin-top: 90px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 1;
		height: 100px;
		width: 600px;
		font-family: "Gill Sans", sans-serif;
		font-size: 28px;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news2 {
		padding: 0px;
		margin-top: 60px;
		grid-row: 1;
		grid-column: 2;
	}

	.newstext2 {
		padding: 0px;
		margin-top: 100px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 2;
		height: 100px;
		width: 600px;
		font-family: "Gill Sans", sans-serif;
		font-size: 28px;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news3 {
		padding: 0px;
		margin-top: 60px;
		grid-row: 1;
		grid-column: 3;
	}

	.newstext3 {
		padding: 0px;
		margin-top: 100px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 3;
		height: 100px;
		width: 600px;
		font-family: "Gill Sans", sans-serif;
		font-size: 28px;
		display: flex;
		align-items: center;
		justify-content: start;	
	}
}

@media (max-width: 2699px) {

	body {
		margin: 0px;
		padding: 0px;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
		grid-template-rows: 120px 2.2fr 2.2fr 2.2fr 2.2fr;
	}

	nav {
		position: fixed;
		width: 100%;
		top: 0;
		background-color: #00356b;
		grid-column: 1 / 6;
		grid-row: 1;
		color: white;
		display: grid;
		min-height: 100px;
		grid-auto-flow: column;
		grid-gap: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	li {
		list-style: none;
		margin: 10px;
	}

	li a {
		text-decoration: none;
		color: #FFF;
	}

	.title {
		display: grid;
		text-align: center;
		justify-content: start;
		align-content: center;
		font-family: "Helvetica", sans-serif;
		font-size: 30px;
	}

	.links {
		display: grid;
		justify-content: end;
		align-content: center;
		grid-auto-flow: column;
		grid-gap: 20px;
		font-family: "Helvetica", sans-serif;
		font-size: 30px;
	}

	.links input[type=text] {
		padding: 5px;
		border: none;
		font-size: 17px;
		width: 190px;
		height: 20px;
		margin-right: 25px;
		font-family: "Helvetica", sans-serif;
	}

	.image {
		grid-row: 2 / 4;
		grid-column: 2 / 5;
	}

	.mainimage {
		width: 100%;
		height: 100%;
		max-height: 500px;
	}

	.events {
		grid-row: 4;
		grid-column: 2 / 5;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.eventstitle {
		padding: 0px;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
		color: #00356b;
		font-family: "Helvetica", sans-serif;
	}

	.calendar {
		padding: 0px;
		margin-left: 90px;
		margin-top: 5px;
		grid-row: 1;
		grid-column: 1;
		font-family: "Helvetica", sans-serif;
	}

	.calendar a {
		color: #4a4a4a;
	}

	.event1 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 1;
	}

	.eventtext1 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 1;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.event2 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 2;
	}

	.eventtext2 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 2;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.event3 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 3;
	}

	.eventtext3 {
		padding: 0px;
		margin-top: 30px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 3;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news {
		grid-row: 5;
		grid-column: 2 / 5;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.newstitle {
		padding: 0px;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
		color: #00356b;
		font-family: "Helvetica", sans-serif;
	}

	.morenews {
		padding: 0px;
		margin-left: 90px;
		margin-top: 5px;
		grid-row: 1;
		grid-column: 1;
		font-family: "Helvetica", sans-serif;
	}

	.morenews a {
		color: #4a4a4a;
	}

	.news1 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 1;
	}

	.newstext1 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 1;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news2 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 2;
	}

	.newstext2 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 2;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news3 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 3;
	}

	.newstext3 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 3;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}
}

@media (max-width: 1380px) {
	body {
		display: grid;
		grid-template-columns: .8fr 5fr 5fr .8fr;
		grid-template-rows: 110px 500px 350px 350px;
	}

	nav {
		position: fixed;
		width: 100%;
		top: 0;
		background-color: #00356b;
		grid-column: 1 / 5;
		grid-row: 1;
		color: white;
		display: grid;
		min-height: 100px;
		grid-auto-flow: column;
		grid-gap: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	li {
		list-style: none;
		margin: 10px;
	}

	li a {
		text-decoration: none;
		color: #FFF;
	}

	.title {
		display: grid;
		text-align: center;
		justify-content: start;
		align-content: center;
		font-family: "Helvetica", sans-serif;
		font-size: 28px;
	}

	.links {
		display: grid;
		justify-content: end;
		align-content: center;
		grid-auto-flow: column;
		grid-gap: 2px;
		font-family: "Helvetica", sans-serif;
		font-size: 23px;
		padding-left: 0px;
	}

	.links input[type=text] {
		padding: 5px;
		border: none;
		font-size: 17px;
		width: 190px;
		height: 20px;
		margin-right: 25px;
		font-family: "Helvetica", sans-serif;
	}

	.image {
		grid-row: 2;
		grid-column: 2 / 4;
	}

	.mainimage {
		width: 100%;
		height: 100%;
		max-height: 480px;
	}

	.events {
		grid-row: 3;
		grid-column: 2 / 4;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.eventstitle {
		padding: 0px;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
		color: #00356b;
		font-family: "Helvetica", sans-serif;
	}

	.calendar {
		padding: 0px;
		margin-left: 90px;
		margin-top: 5px;
		grid-row: 1;
		grid-column: 1;
		font-family: "Helvetica", sans-serif;
	}

	.calendar a {
		color: #4a4a4a;
	}

	.event1 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 1;
	}

	.eventtext1 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 1;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.event2 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 2;
	}

	.eventtext2 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 2;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.event3 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 2;
		grid-column: 1;
	}

	.eventtext3 {
		padding: 0px;
		margin-top: 30px;
		margin-left: 140px;
		grid-row: 2;
		grid-column: 1;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news {
		grid-row: 4;
		grid-column: 2 / 4;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.newstitle {
		padding: 0px;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
		color: #00356b;
		font-family: "Helvetica", sans-serif;
	}

	.morenews {
		padding: 0px;
		margin-left: 90px;
		margin-top: 5px;
		grid-row: 1;
		grid-column: 1;
		font-family: "Helvetica", sans-serif;
	}

	.morenews a {
		color: #4a4a4a;
	}

	.news1 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 1;
	}

	.newstext1 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 1;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news2 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 2;
	}

	.newstext2 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 2;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news3 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 2;
		grid-column: 1;
	}

	.newstext3 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 2;
		grid-column: 1;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}
}

@media (max-width: 889px) {
	body {
		grid-template-columns: .8fr 5fr .8fr;
		grid-template-rows: 100px 500px 350px 350px;
	}

	nav {
		position: fixed;
		width: 100%;
		top: 0;
		background-color: #00356b;
		grid-column: 2;
		grid-row: 1;
		color: white;
		display: grid;
		min-height: 100px;
		grid-auto-flow: column;
		grid-gap: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

	li {
		list-style: none;
		margin: 10px;
	}

	li a {
		text-decoration: none;
		color: #FFF;
	}

	.title {
		display: grid;
		text-align: center;
		justify-content: start;
		align-content: center;
		font-family: "Helvetica", sans-serif;
		font-size: 20px;
	}

	.links {
		display: grid;
		justify-content: end;
		align-content: center;
		grid-auto-flow: column;
		padding-left: 0px;
		grid-gap: 0px;
		font-family: "Helvetica", sans-serif;
		font-size: 16px;
	}

	.links input[type=text] {
		display: none;
	}

	.image {
		grid-row: 2;
		grid-column: 2;
	}

	.mainimage {
		width: 100%;
		height: 100%;
		max-height: 480px;
	}

	.events {
		grid-row: 3;
		grid-column: 2;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.eventstitle {
		padding: 0px;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
		color: #00356b;
		font-family: "Helvetica", sans-serif;
	}

	.calendar {
		padding: 0px;
		margin-left: 90px;
		margin-top: 5px;
		grid-row: 1;
		grid-column: 1;
		font-family: "Helvetica", sans-serif;
	}

	.calendar a {
		color: #4a4a4a;
	}

	.event1 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 1;
	}

	.eventtext1 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 1;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.event2 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 2;
		grid-column: 1;
	}

	.eventtext2 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 2;
		grid-column: 1;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.event3 {
		display: none;
	}

	.eventtext3 {
		display: none;	
	}

	.news {
		grid-row: 4;
		grid-column: 2;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.newstitle {
		padding: 0px;
		margin: 0;
		grid-row: 1;
		grid-column: 1;
		color: #00356b;
		font-family: "Helvetica", sans-serif;
	}

	.morenews {
		padding: 0px;
		margin-left: 90px;
		margin-top: 5px;
		grid-row: 1;
		grid-column: 1;
		font-family: "Helvetica", sans-serif;
	}

	.morenews a {
		color: #4a4a4a;
	}

	.news1 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 1;
		grid-column: 1;
	}

	.newstext1 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 1;
		grid-column: 1;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news2 {
		padding: 0px;
		margin-top: 35px;
		grid-row: 2;
		grid-column: 1;
	}

	.newstext2 {
		padding: 0px;
		margin-top: 40px;
		margin-left: 140px;
		grid-row: 2;
		grid-column: 1;
		height: 100px;
		width: 300px;
		font-family: "Gill Sans", sans-serif;
		display: flex;
		align-items: center;
		justify-content: start;	
	}

	.news3 {
		display: none;
	}

	.newstext3 {
		display: none;
	}
}